* {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn {
  color: var(--primary-color);
  margin: 0.3rem;
  font-weight: bolder;
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}
