<div class="miTravel card-deck p-2 text-center">
    <article class="card ">
        <h3 class="card-title">{{miTravel?.titulo}}</h3>

        <div class="card-body">
            <figure class="card-img-top">
                <img src="{{miTravel?.imagen}}" alt="" class="image-miTravel" />
            </figure>

            <p class="card-text text-truncate">{{miTravel?.texto}}</p>

            <h5 class="card-subtitle text-muted ">{{miTravel?.autor}}</h5>
            <h6 class="card-text"><em>
                    Posted: <span class="text-muted">{{ miTravel?.fecha | date }}</span> -
                    <span class="text-primary">{{miTravel?.categoria?.titulo}}</span></em>
            </h6>
        </div>
    </article>
    <button class="btn btn-outline-primary" [routerLink]="['/post',miTravel?.id]">See: {{miTravel?.titulo}}</button>
</div>