<p>form-post works!</p>
<div>
    <form [formGroup]="formPost" (ngSubmit)="onSubmit()" class="container my-3">
        <div class="my-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" formControlName="titulo" placeholder="introduce title" class="form-control">
        </div>
        <div class="my-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" id="description" formControlName="texto" placeholder="introduce description paragraph"
                class="form-control">
        </div>
        <div class="my-3">
            <label for="author" class="form-label">Author:</label>
            <input type="text" id="author" formControlName="autor" placeholder="introduce post author"
                class="form-control">
        </div>
        <div class="my-3">
            <label for="image" class="form-label">URL Image:</label>
            <input type="text" id="image" formControlName="imagen" placeholder="introduce url image"
                class="form-control">
        </div>
        <div class="my-3">
            <label for="category" class="form-label">Category:</label>
            <select (change)="onChange($event)" formControlName="categoria">
                <option value="">Select a category</option>
                @for (categoria of categorias; track categoria.id) {
                <option [value]="categoria.titulo">{{categoria.titulo}}</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
</div>