<p>home works!</p>
<div>
    <select (change)="onChange($event)">
        <option value="">All Categories</option>
        @for (categoria of categorias; track categoria.id) {
        <option [value]="categoria.titulo">{{categoria.titulo}}</option>
        }
    </select>
    <div>
        <button class="btn btn-danger" [routerLink]="['/new']">New Post</button>
    </div>
</div>
<div class="row">
    <div class="travels g-2 col-12 col-md-6 col-lg-4">
        @for (travel of arrTravels; track travel.id) {
        <app-travel-card [miTravel]="travel"></app-travel-card>
        }
    </div>
</div>